kv.store
node_modules
.DS_Store
.vscode
.idea
.env
npm-debug.log
.jshintignore
.jshintrc
bin
dist
/chaincode/bin
/chaincode/pkg
/chaincode/src/**/vendor
insurance-peer
shop-peer
repairshop-peer
police-peer
